<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.MyBatisDemo.mapper.Anime_moviesMapper">
    <select id="findAll" resultType="com.example.MyBatisDemo.entity.Anime_movies">
        SELECT
        *
        FROM
        anime_movies
    </select>
    <select id="findByPublishedYear" resultType="com.example.MyBatisDemo.entity.Anime_movies">
        SELECT
        *
        FROM
        anime_movies
        WHERE
        published_year = #{published_year}
    </select>
    <select id="findById" resultType="com.example.MyBatisDemo.entity.Anime_movies">
        SELECT
        *
        FROM
        anime_movies
        WHERE
        id = #{id}
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.MyBatisDemo.entity.Anime_movies">
        INSERT INTO anime_movies (title, published_year)
        VALUES (#{title}, #{published_year})
    </insert>
    <update id="update">
        UPDATE anime_movies
        SET
        title = #{conversionAnime_movies.title},
        published_year = #{conversionAnime_movies.published_year},
        WHERE
        id = #{id}
    </update>
    <delete id="delete">
        DELETE
        FROM
        anime_movies
        WHERE
        id = #{id}
    </delete>
</mapper>
